<h2>Nao ha Relatorio</h2>
<div class="jumbotron">
  <h2><%= gettext "Bem Vindo ao %{name}!", name: "Send_Report" %></h2>
  <p class="lead">No Momento não há relatório para ser enviado!<br />Obrigado!.</p>
</div>
</div>
