<h2>Relatorio Enviado</h2>
<div class="jumbotron">
  <h2><%= gettext "Bem Vindo ao %{name}!", name: "Send_Report" %></h2>
  <p class="lead">O Relatório foi enviavo para o Email<br />Obrigado!.</p>
</div>
</div>
